# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
!ThirdParty/**/*.lib
*.exp
*.log
*.tlog
*.idb
*.pch
*.ipch
*.aps

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user

# Build directories
[Bb]in/
[Oo]bj/
ipch/

# OS
.DS_Store
Thumbs.db
